@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding:0;

}
.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
  width: calc(260px + 3fr + 3fr + 3fr); 
  /* overflow-x: hidden;  */
}

.icon {
  display: none; /* Initially hide the icon */
}

@media (max-width: 992px) {
  .icon {
    display: block; /* Show the icon when viewport width is <= 992px */
  }
}
/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  /* box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35); */
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}